
.backround-image{
  background-image: url("../DentalmecDesk.png") ;
  background-size:100% 100%;
  background-repeat: no-repeat;  
  min-height: 100vh;
}

@media (max-width: 300px) {
  .backround-image {
      background-size: cover;
      background-position: left center;
      background-image: URL("../DentalmecSm.png");
  }
}