
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    
}
body{
    font-family: "Poppins", sans-serif;
    background-color: hsl(187, 48%, 38%);
}
/*.mapa{
    position: absolute;
    bottom: 25%;
    left: 25%;
    width: 10%;
    height: 10%;
    display: flex;
    z-index: 0;
    
}*/
.wrap-logo{
    background-color: #f0a40d;
    width: 15%;
    height: 50%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
    flex-wrap: wrap; /*alinea los elementos que no entran a lo ancho los manda abajo
    border-radius: 5px;*/
}
.logo-imagen{
    width: 80%;
    height: 40%;
}
.wrap-texto-logo{
    width: 150px;
    font-size: 10px;
}
.wrap-contador{
    position: absolute;
    top: 1%;
    right: 2%;
}
/*.contenedor-textos{
    display: flex;
    justify-content: space-around;
}*/
.wrap-texto-clinica{
    color: #fff;
    position: absolute;
    font-size: 25px;
    width:200px; /*1rem es una unidad de medida si la fuente es de 10px*/
    bottom: 36%;
    left: 2%;
    text-align:start;
}
.wrap-texto-urgencias{
    color: #fff;
    position: absolute;
    font-size: 30px;
    bottom: 16%;
    right: 2%;
}
.direccion{
    position: absolute;
    color: #fff;
    /*font-size: 30px;*/
    bottom: 6%;
    left: 2%;
}
.wrap-circuloverde{
    /*width: 200px;
    height: 200px;*/
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/img/circuloVerde.webp);
    background-size:contain; /*100%*/
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 50%;
    right: 30%;
    z-index: 1;
    
}
.wrap-texto{
    color: #fff;
    text-align: center;
    width: 10%;
    
    position: fixed;
    font-size: 10px; 
    
}   
.wrap-circuloamarillo{
    width: 200px;
    height: 100px;
    background: #0df053;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/img/circuloamarillo.webp);
    background-size: 100%;
    background-position: center;
    position: absolute;
    bottom: 1%;
    right: 1%;
    z-index: 10;
    
    
}
.wrap-texto-circuloamarillo{
    /* background-color: brown;
    color: #fff;
    text-align: center;*/
    width: 50%;
    
    /*bottom: 5%;
    right: 25%;
    position: absolute;*/
    font-size: 70%;
}

.link-mapa{
    position: fixed;
    width: 150px;
    
    display: flex;
    
    bottom: 0%;
      
    
    border-radius: 20px;
}
.btn-wsp{
    position: absolute;
    width: 70px;
    height: 70px;
    line-height: 55px;
    bottom: 23%;
    right: 3%;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    
}
.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}
/*
.imagen-fondo{
    background-image: url("img/Desktop2.webp");
    background-size:cover;
    /*background-repeat: no-repeat;  
    background-attachment: fixed;
    min-height: 110vh;
    /*max-width:100%;
    
    
}*/
.imagen-fondo{
    background-image: url("img/desktop.webp");
    /*background-color: #0df053;*/
    background-position: center center;
    background-size:cover;
    position: relative;
    /*width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
    width: 850px;
    height: 800px;
    */
    width: 53vw;
    height: 100vh;
    padding: 1em;
    margin: auto;
    
}
/*.bg{
    position: absolute;
    z-index: -1;
    width: auto;
}

.chica{
    position: absolute;
    top: 27%;
    width: 54%;
    left: 47%;
}

.logo{
    position: absolute;
    width: 10%;
    top: 20%;
    left: 10%;
}*/

/*.backround-image{
    background-image: url("../DentalmecSm.png") ;
    background-size:100% 100%;
    background-repeat: no-repeat;  
    min-height: 100vh;
  }
  
  /*@media (max-width: 480px) {*/
  @media all and (max-width: 768px){
    .logo-imagen{
        width: 50px;
    }
    .imagen-fondo {
        background-size:cover;
        /*background-position: left center;
        background-attachment: fixed;
        min-height: 110vh;
        */
        background-image: URL("img/tablet.webp");
        
        background-repeat: no-repeat;
        width: 60vw;
        height: 100vh
    }
    .wrap-circuloamarillo{
        width: 150px;
        height: 80px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        bottom: 0%;
        right: 1%;
        z-index: 1;
        position: absolute;
        
        
    }
    .wrap-texto-circuloamarillo{
       
        text-align: center;
        width: 10em;
        
        position: fixed;
        font-size: 10px;
    }
    .wrap-circuloverde{
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(/img/circuloVerde.webp);
        background-size: 100%;
        background-position: center;
        position: absolute;
        bottom: 40%;
        right: 40%;
        z-index: 2;
        
    }
    .wrap-texto{
        color: #fff;
        text-align: center;
        /*width: 10%;
        width: inherit;*/
        width: 10em;
        
        position: fixed;
        font-size: 10px;
        
    }
    .link-mapa{
        position: fixed;
        width: 150px;
        
        
        bottom: 2%;
        
        
        
        border-radius: 5px;
    }   
  }
  @media all and (max-width: 400px){
    .imagen-fondo {
        background-size: 100%;
        background-position: left center;
        background-image: URL("img/movil.webp");
        width: 100vw;
    height: 100vh
    }
    .wrap-texto{
        color: #fff;
        text-align: center;
        width:20%;
        
        position: fixed;
        font-size: 10px;
        
    } 
    .link-mapa{
        position: fixed;
        width: 150px;
        
        left: 0%;
        bottom: 0%;
        
        
        
        border-radius: 5px;
    }     
  }